<div class="banner">
  <div class="wrapper">
    <h1>Pixel Perfect<br> Templates</h1>
  </div>
</div>

<div class="nav">
  <div class="wrapper">
    <a href="#">Popular</a>
    <a href="#">Recent</a>
    <input id="search" type="search" placeholder="iPhone 6+ template">
    <label for="search">Search</label>

  </div>



</div>
